In [2]:
import pandas as pd
import glob
import os
import warnings
warnings.filterwarnings("ignore")

# Data Exploration

The Premier League data for each season from 2003 - 2020 were all in individual CSV files. Therefore, I ran an os.path.join() to join the paths into one. Then created a list using glob. that looks for specific patterns.

In [5]:
# merging the files
joined_files = os.path.join("data/EPL/", "EPL*.csv")
  
# # A list of all joined files is returned
joined_list = glob.glob(joined_files)

In [6]:
joined_list

['data/EPL/EPL2007-2008.csv',
 'data/EPL/EPL2003-2004.csv',
 'data/EPL/EPL2015-2016.csv',
 'data/EPL/EPL2009-2010.csv',
 'data/EPL/EPL2014-2015.csv',
 'data/EPL/EPL2004-2005.csv',
 'data/EPL/EPL2013-2014.csv',
 'data/EPL/EPL2005-2006.csv',
 'data/EPL/EPL2017-2018.csv',
 'data/EPL/EPL2012-2013.csv',
 'data/EPL/EPL2019-2020.csv',
 'data/EPL/EPL2016-2017.csv',
 'data/EPL/EPL2018-2019.csv',
 'data/EPL/EPL2008-2009.csv',
 'data/EPL/EPL2011-2012.csv',
 'data/EPL/EPL2010-2011.csv',
 'data/EPL/EPL2006-2007.csv',
 'data/EPL/EPL2020-2021.csv']

Created a for loop to check on every CSV, so there wouldn't be an issue when concat later

In [7]:
for x in range(len(joined_list)):
    print(joined_list[x])
    test = pd.read_csv(joined_list[x])
    
    print(test.shape)
    print(test.columns)
    print("*"*20)

data/EPL/EPL2007-2008.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2003-2004.csv
(380, 57)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'GBH', 'GBD',
       'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'SOH', 'SOD', 'SOA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'GB>2.5', 'GB<2.5',
       'B365>2.5', 'B365<2.5', 'GBAHH', 'GBAHA', 'GBAH', 'LBAHH', 'LBAHA',
       'LBAH', 'B365AHH', 'B365AHA', 'B365AH'],
      dtype='object')
********************
data/EPL/EPL2015-2016.csv
(380, 65)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2009-2010.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2014-2015.csv
(381, 68)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2',
       'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU',
       'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2004-2005.csv
(380, 57)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'GB>2.5', 'GB<2.5',
       'B365>2.5', 'B365<2.5', 'GBAHH', 'GBAHA', 'GBAH', 'LBAHH', 'LBAHA',
       'LBAH', 'B365AHH', 'B365AHA', 'B365AH'],
      dtype='object')
********************
data/EPL/EPL2013-2014.csv
(380, 68)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'Bb1X2',
       'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU',
       'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh',
       'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2005-2006.csv
(380, 68)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA',
       'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH',
       'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2017-2018.csv
(380, 65)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2012-2013.csv
(380, 74)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA',
       'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2019-2020.csv
(380, 106)
Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)
********************
data/EPL/EPL2016-2017.csv
(380, 65)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2018-2019.csv
(380, 62)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA',
       'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD',
       'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA',
       'PSCH', 'PSCD', 'PSCA'],
      dtype='object')
********************
data/EPL/EPL2008-2009.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2011-2012.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2010-2011.csv
(380, 71)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'BSH', 'BSD', 'BSA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD',
       'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5',
       'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA',
       'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2006-2007.csv
(380, 68)
Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC',
       'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'GBH', 'GBD', 'GBA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA',
       'SBH', 'SBD', 'SBA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA',
       'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5', 'BbAH',
       'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA'],
      dtype='object')
********************
data/EPL/EPL2020-2021.csv
(184, 106)
Index(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG',
       ...
       'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH',
       'MaxCAHA', 'AvgCAHH', 'AvgCAHA'],
      dtype='object', length=106)
********************

In [21]:
# Finally, the files are joined
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/07,Aston Villa,Liverpool,1.0,2.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,11/08/07,Bolton,Newcastle,1.0,3.0,A,0.0,3.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,11/08/07,Derby,Portsmouth,2.0,2.0,D,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,11/08/07,Everton,Wigan,2.0,1.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,11/08/07,Middlesbrough,Blackburn,1.0,2.0,A,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6640,E0,19/01/2021,West Ham,West Brom,2.0,1.0,H,1.0,0.0,H,...,2.08,-1.00,1.88,2.02,1.90,2.03,1.94,2.06,1.89,1.98
6641,E0,19/01/2021,Leicester,Chelsea,2.0,0.0,H,2.0,0.0,H,...,2.01,0.00,2.05,1.85,2.08,1.85,2.09,1.92,2.03,1.84
6642,E0,20/01/2021,Man City,Aston Villa,2.0,0.0,H,0.0,0.0,D,...,2.62,-1.50,1.98,1.95,1.97,1.95,2.00,2.07,1.92,1.95
6643,E0,20/01/2021,Fulham,Man United,1.0,2.0,A,1.0,1.0,D,...,2.15,1.00,1.75,2.05,1.79,2.15,1.90,2.16,1.80,2.09
6644,E0,21/01/2021,Liverpool,Burnley,0.0,1.0,A,0.0,0.0,D,...,2.19,-1.25,1.83,2.10,1.86,2.07,1.86,2.27,1.78,2.13

In [20]:
df.isna().sum()

Div            1
Date           1
HomeTeam       1
AwayTeam       1
FTHG           1
            ...
PCAHA       6081
MaxCAHH     6081
MaxCAHA     6081
AvgCAHH     6081
AvgCAHA     6081
Length: 151, dtype: int64

R

In [22]:
gd = pd.read_csv('data/final_dataset_with_odds.csv')

In [23]:
gd

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,B365A,IWH,IWD,IWA,LBH,LBD,LBA,WHH,WHD,WHA
0,0,2002-08-17,Blackburn,Sunderland,0,0,NH,0,0,0,...,4.333,1.80,3.1,3.80,1.615,3.25,5.00,1.66,3.30,4.50
1,1,2002-08-17,Charlton,Chelsea,2,3,NH,0,0,0,...,2.200,2.90,3.0,2.20,2.800,3.20,2.20,2.75,3.10,2.30
2,2,2002-08-17,Everton,Tottenham,2,2,NH,0,0,0,...,2.750,2.30,3.0,2.70,2.250,3.20,2.75,2.30,3.10,2.75
3,3,2002-08-17,Fulham,Bolton,4,1,H,0,0,0,...,4.333,1.80,3.1,3.80,1.833,3.20,3.75,1.72,3.20,4.33
4,4,2002-08-17,Leeds,Man City,3,0,H,0,0,0,...,4.500,1.70,3.2,4.20,1.615,3.50,4.50,1.66,3.30,4.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5995,5995,2018-12-15,Watford,Cardiff,3,2,H,20,15,23,...,6.000,1.70,3.8,5.00,1.630,3.99,6.37,1.60,3.90,6.00
5996,5996,2018-12-15,Wolves,Bournemouth,2,0,H,17,25,19,...,4.330,2.00,3.4,3.80,2.020,3.48,4.20,1.95,3.50,4.00
5997,5997,2018-12-16,Brighton,Chelsea,1,2,NH,19,33,22,...,1.500,7.20,4.4,1.45,7.640,4.37,1.51,7.00,4.33,1.47
5998,5998,2018-12-16,Liverpool,Man United,3,1,H,34,28,6,...,6.000,1.65,4.0,5.10,1.530,4.51,6.76,1.52,4.33,6.00
5999,5999,2018-12-16,Southampton,Arsenal,3,2,H,13,35,30,...,1.900,3.75,3.8,1.90,3.870,3.90,1.98,3.90,3.75,1.91

In [24]:
gd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 55 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     6000 non-null   int64
 1   Date           6000 non-null   object
 2   HomeTeam       6000 non-null   object
 3   AwayTeam       6000 non-null   object
 4   FTHG           6000 non-null   int64
 5   FTAG           6000 non-null   int64
 6   FTR            6000 non-null   object
 7   HTGS           6000 non-null   int64
 8   ATGS           6000 non-null   int64
 9   HTGC           6000 non-null   int64
 10  ATGC           6000 non-null   int64
 11  HTP            6000 non-null   float64
 12  ATP            6000 non-null   float64
 13  HM1            6000 non-null   object
 14  HM2            6000 non-null   object
 15  HM3            6000 non-null   object
 16  HM4            6000 non-null   object
 17  HM5            6000 non-null   object
 18  AM1            6000 non-null   object
 19  AM2            6000 non-null   object
 20  AM3            6000 non-null   object
 21  AM4            6000 non-null   object
 22  AM5            6000 non-null   object
 23  HomeTeamLP     6000 non-null   float64
 24  AwayTeamLP     6000 non-null   float64
 25  MW             6000 non-null   float64
 26  HTFormPtsStr   6000 non-null   object
 27  ATFormPtsStr   6000 non-null   object
 28  HTFormPts      6000 non-null   int64
 29  ATFormPts      6000 non-null   int64
 30  HTWinStreak3   6000 non-null   int64
 31  HTWinStreak5   6000 non-null   int64
 32  HTLossStreak3  6000 non-null   int64
 33  HTLossStreak5  6000 non-null   int64
 34  ATWinStreak3   6000 non-null   int64
 35  ATWinStreak5   6000 non-null   int64
 36  ATLossStreak3  6000 non-null   int64
 37  ATLossStreak5  6000 non-null   int64
 38  HTGD           6000 non-null   float64
 39  ATGD           6000 non-null   float64
 40  DiffPts        6000 non-null   float64
 41  DiffFormPts    6000 non-null   float64
 42  DiffLP         6000 non-null   float64
 43  B365H          6000 non-null   float64
 44  B365D          6000 non-null   float64
 45  B365A          6000 non-null   float64
 46  IWH            6000 non-null   float64
 47  IWD            6000 non-null   float64
 48  IWA            6000 non-null   float64
 49  LBH            6000 non-null   float64
 50  LBD            6000 non-null   float64
 51  LBA            6000 non-null   float64
 52  WHH            6000 non-null   float64
 53  WHD            6000 non-null   float64
 54  WHA            6000 non-null   float64
dtypes: float64(22), int64(17), object(16)
memory usage: 2.5+ MB

In [25]:
df.isna().sum()

Div            1
Date           1
HomeTeam       1
AwayTeam       1
FTHG           1
            ...
PCAHA       6081
MaxCAHH     6081
MaxCAHA     6081
AvgCAHH     6081
AvgCAHA     6081
Length: 151, dtype: int64

# Data Cleaning

### Date Time

First I converted the date column into a date time for easier navigation of dataset, and sorted in order from 2003 - 2021

In [26]:
df['Date'] = pd.to_datetime(df['Date'])

In [27]:
df = df.sort_values(by='Date')
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
480,E0,2003-01-11,Everton,Chelsea,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
486,E0,2003-01-11,Tottenham,Bolton,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,E0,2003-01-11,Southampton,Man City,0.0,2.0,A,0.0,1.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,E0,2003-01-11,Newcastle,Aston Villa,1.0,1.0,D,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,E0,2003-01-11,Leeds,Arsenal,1.0,4.0,A,0.0,3.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6624,E0,2021-04-01,Southampton,Liverpool,1.0,0.0,H,1.0,0.0,H,...,2.78,1.25,1.77,2.02,1.87,2.07,1.92,2.13,1.84,2.04
6627,E0,2021-12-01,Wolves,Everton,1.0,2.0,A,1.0,1.0,D,...,1.53,0.00,1.82,2.11,1.82,2.13,1.84,2.19,1.77,2.12
6626,E0,2021-12-01,Burnley,Man United,0.0,1.0,A,0.0,0.0,D,...,2.26,1.25,2.02,1.91,2.00,1.93,2.04,1.94,1.98,1.90
6625,E0,2021-12-01,Sheffield United,Newcastle,1.0,0.0,H,0.0,0.0,D,...,1.59,-0.25,1.99,1.94,1.99,1.93,2.10,1.96,1.97,1.92
1900,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Null Values

Dropped the one row with null values in it

In [28]:
df = df[df['Div'] == 'E0']

In [30]:
df.isna().sum()

Div            0
Date           0
HomeTeam       0
AwayTeam       0
FTHG           0
            ...
PCAHA       6080
MaxCAHH     6080
MaxCAHA     6080
AvgCAHH     6080
AvgCAHA     6080
Length: 151, dtype: int64

### Dropping, Renaming, and Creating Columns

First, I'm going to drop betting data that I won't be using in my model

In [34]:
# Dropping irrevelant betting columns 
# Focusing mainly on 365 bets
# Should clear the rest of the null values
df.drop(df.iloc[:, 26:], inplace=True, axis=1)

In [35]:
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A
480,E0,2003-01-11,Everton,Chelsea,0.0,1.0,A,0.0,0.0,D,...,11.0,3.0,1.0,0.0,0.0,0.0,0.0,4.50,3.40,1.72
486,E0,2003-01-11,Tottenham,Bolton,0.0,1.0,A,0.0,0.0,D,...,6.0,7.0,5.0,3.0,0.0,0.0,0.0,1.72,3.40,4.50
485,E0,2003-01-11,Southampton,Man City,0.0,2.0,A,0.0,1.0,A,...,16.0,4.0,6.0,1.0,1.0,0.0,0.0,2.20,3.40,2.87
484,E0,2003-01-11,Newcastle,Aston Villa,1.0,1.0,D,1.0,1.0,D,...,17.0,15.0,3.0,2.0,3.0,0.0,1.0,1.57,3.60,5.50
481,E0,2003-01-11,Leeds,Arsenal,1.0,4.0,A,0.0,3.0,A,...,11.0,4.0,3.0,1.0,0.0,0.0,0.0,5.50,3.60,1.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6622,E0,2021-03-01,Newcastle,Leicester,1.0,2.0,A,0.0,0.0,D,...,11.0,3.0,6.0,0.0,2.0,0.0,0.0,5.25,4.20,1.61
6624,E0,2021-04-01,Southampton,Liverpool,1.0,0.0,H,1.0,0.0,H,...,12.0,1.0,10.0,1.0,3.0,0.0,0.0,5.00,4.33,1.61
6627,E0,2021-12-01,Wolves,Everton,1.0,2.0,A,1.0,1.0,D,...,11.0,6.0,5.0,2.0,2.0,0.0,0.0,2.45,3.10,3.10
6626,E0,2021-12-01,Burnley,Man United,0.0,1.0,A,0.0,0.0,D,...,13.0,3.0,4.0,1.0,2.0,0.0,0.0,7.00,4.50,1.45
6625,E0,2021-12-01,Sheffield United,Newcastle,1.0,0.0,H,0.0,0.0,D,...,12.0,5.0,2.0,2.0,3.0,0.0,1.0,2.45,3.10,3.10

In [37]:
df.isna().sum()

Div         0
Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
Referee     0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
B365H       0
B365D       0
B365A       0
dtype: int64

Checking the rest of the columns, and deciding which ones to drop

In [38]:
df.columns.values

array(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF',
       'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D',
       'B365A'], dtype=object)